<div class="flex-grow flex justify-center items-center px-4 sm:mx-auto pt-52">
  <div class="text-center">
    <h1 class="text-4xl font-bold">404 Not Found</h1>
    <p :if={@message} class="text-lg"><%= @message %></p>
  </div>
</div>