<div class="flex-grow flex flex-col max-w-xl mx-auto justify-center content-center">
  <div class="text-center text-black bg-slate-300 dark:bg-slate-700 dark:text-white p-4 rounded-lg">
    <h1 class="text-2xl">This statement is false!</h1>
  </div>
</div>